<form id='form' method="post">
    <div id="names">
        <input id="firstname" placeholder="first name" name='firstname' type='text' value='{{firstname}}'/>
        <input id="lastname" placeholder="last name" name='lastname' type='text' value='{{lastname}}'/>
    </div>
    <canvas id='canvas' height="200px" width="600px"></canvas>
    {{>csrf}}
    <input type='hidden' name='signature' id='signature' value='{{signature}}'/>
    <div id="button"><button id="submit" type="submit">SIGN IT</button></div>
</form>
