<form id='form' method="post">
    <div>
        <input id="firstname" name='firstname' type='text' value='{{firstname}}'/>
        <input id="lastname" name='lastname' type='text' value='{{lastname}}'/>
    </div>
    <canvas id='canvas' height="200px" width="600px"></canvas>
    {{>csrf}}
    <input type='hidden' name='signature' id='signature' value='{{signature}}'/>
    <button id="submit" type="submit">SIGN IT</button>
</form>
