<header>
        <a href="/lang/ru">๐ท๐บ</a>
        <a href="/lang/en">๐ฌ๐ง</a>
        #ะฑะตัะตะถะฝะฐัะผะพะดะฐ #ะพัะพะทะฝะฐะฝะฝะพะตะฟะพััะตะฑะปะตะฝะธะต #sustainableFashion
        #sensibleConsumption

        {{#if userId}}
<a id="logout" href="/logout">ะัะนัะธ</a>
{{else}} <a id="login2" id="login" href="/login">ะะพะนัะธ</a>
        {{/if}}
</header>
