<form id='form' method="post">
    <div id="profile">
        <input id="age" placeholder="age" name='age' type='number' value='{{age}}'/>
        <input id="city" placeholder="city" name='city' type='text' value='{{city}}'/>
        <input id="homepage" placeholder="homepage" name='homepage' type='url' value='{{url}}'/>
    </div>
    {{>csrf}}
    <div id="button"><button id="register" type="submit">CONTINUE</button></div>
</form>
