<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>Petition</title>
<link rel = "stylesheet" href="/styles.css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <body>
        {{>header}}

        {{{ body }}}

    </body>
</html>
