<h1>Welcome to my #sustainableFashion and #sensibleConsumption petition</h1>
<p>Have you ever bought clothes that you later never put on? Have you ever bought or
get as a present something that you have throw away after first use?
Most of us have. Producers are also no longer interested in producing things for long-term use.
They come to like the idea that today's "new" will become "old" tomorrow and we
come back soon for a new buy.
    This behaviour cost us more than money and good queality, which is recently
miss in all kinds of production.
It costs our planet. 

I want to get as many signatures as I can! Thank you for signing!</p>
{{error}}
{{>form}}
<script src="/script.js"></script>
