<h1>Welcome to my petition</h1>
<p>This is my petition. I don't know yet what it's going to be about,
but I want to get as many signatures as I can! Thank you for signing!</p>
{{error}}
{{>form}}
<script src="/script.js"></script>
