<h1Добро пожаловать на страничку моей петиции #бережнаямода и #осознанноепотребление #sustainableFashion #sensibleConsumption</h1>
<p>Каждый из нас хотя бы раз покупал одежду, которую никогда не надевал.
Или же дарил или становился обладателем вещи, которая выбрасывалась после первого же использования.
Крупные компании также всё меньше заинтересованы в производстве вещей, которые
потом будут использоваться годами. Их устраивает, что сегодняшнаяя "новинка" уже зватра
станет "старьём" и мы очень скоро вернёмся за очередной покупкой.
    Такой подход к производству и потреблению губителен не только для наших кошельков
и качества продукции, которое, к сожалению, всё чаще оставляет желать лучшего.
Подобные стратегии крайне губительны для нашей планеты! Тотальное загрязнение воды и воздуха,
гибель животных и вред для здоровья людей - всё это реальность "бедных" стран, которую "богатые"
страны прежпочитают не замечать.
Ни правительство, ни крупный бизнес не заинтересованы в изменении ситуации.
Но это можем сделать мы!</p>
<p>Поддержите питицию #бережнаямода и #осознанноепотребление #sustainableFashion #sensibleConsumption.
Выбирайте товары с маркировкой "справедливая торговля" - "fair trade",
экологически чистые технологии и высокое качество производства.
Часто то, что дёшево, стоит очень дорого нашей планете.
Собрав максимальное количество подписей, мы поможем сделать мир лучше! Спасибо за Вашу подпись!</p>
{{error}}
{{>formru}}
<script src="/script.js"></script>
