<h1>Welcome to my #sustainableFashion and #sensibleConsumption petition</h1>
<p>Have you ever bought clothes that you later never put on? Have you ever bought or
get as a present something that you have thrown away after first use?
Most of us have. Producers are also no longer interested in producing things for long-term use.
They come to like the idea that today's "new" will become "old" tomorrow and we
come back soon for a new buy.
    This behaviour cost us more than money and good queality, which recently leaves to be desired
 in all kinds of production.
It costs our planet polluted air, poisoned water, death of animals and poor health of
population. This is reallity that  some "poor" countires have to face, and most of "rich"
countires prefer to ignore.
Neither governments nor huge businesses are interested in changing the situation. But us,
each of us can do that!</p>
<p>Stand up for #sensibleConsumption and #sustainableFashion.
Choose fair trade, environment-friendly technoligies and good quality to cheap at whatever cost.
Such cheap costs us and our planet too much.
Let's get as many signatures as I can to change make the world better! Thank you for signing!</p>
{{error}}
{{>form}}
<script src="/script.js"></script>
