<h1>Thank you for signing!</h1>

<img src="{{signature}}"/>
<p><a href="/signers">See who else signed</a></p>
<p><a href="/update">Update your profile</a></p>
<p><a href="/deletesign">Delete signature</a></p>
<p><a href="/logout">Log out</a></p>
