<h1>Спасибо за Вашу подпись!</h1>

<img src="{{signature}}"/>
<p><a href="/signers">Посмотреть список подписавших петицию</a></p>
<p><a href="/update">Редация Вашего профиля</a></p>
<p><a href="/deletesign">Удалить подпись</a></p>
